{
  "presets": ["es2015", "stage-3", "react"],
  "plugins": [
    ["transform-replace-object-assign", "simple-assign"],
	"transform-dev-warning",
	"transform-class-properties",
	"transform-decorators-legacy",
	"react-hot-loader/babel"
  ],
  "env": {
	  "test": {
		  "sourceMaps": "both"
	  },
	  "docs-production": {
		  "plugins": [
			  ["transform-replace-object-assign", "simple-assign"],
			  "transform-react-remove-prop-types",
			  "transform-react-constant-elements",
			  "transform-react-inline-elements"
		  ]
	  }
  }
}
